/* Budget header */

.budget-header ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.budget-header ul li{
    border-right: 3px solid #000;
    padding: 0 2% 0 0 ;
}

.budget-header{
    width: 80%;
    padding: 1rem;
}

.budget-header ul #budget-event-day{
    border: none;
}

.budget-header ul #budget-client-name{
    font-weight: 600;
}

/* Budget content */

.budget-main{
    height: 80%;
    display: flex;
    margin-right: 0.7rem;
}

.budget-main-sidebar{
    height: 100%;
    width: 15%;
    background-color: #D9D9D9;
}

.budget-main-content{
    height: 100%;
    width: 85%;
    margin-left: 0.5rem;
}

/* Budget Table */

table{
    border-collapse: collapse;
    margin: 0.5rem 0;
    font-size: 0.9rem;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.15);
}

table thead th{
    background-color: #D9D9D9;
    text-align: left;
    font-weight: bold;
}

table th{
    padding: 0.5rem 1.5rem;
}

table td{
    padding: 0.5rem 1rem;
}

table tbody tr{
    border-bottom: 3px solid #000;
    text-align: center;
}

table tbody tr p{
    text-align: left;
}

table tbody tr p em{
    color: #000;
    font-weight: bold;
}

/* Budget Footer */

.budget-main-footer{
    display: flex;
    justify-content: end;
    margin-right: 0.7rem;
}

.budget-main-footer div{
    padding: 0.3rem;
    background-color: #D9D9D9;;
}