/* Sidebar divisão na tela */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95vh;
    width: 180px;
    margin: 2vh;
    background-color: #F5D0A9;
    border-radius: 20px;
}

/* Sidebar Content Div */
.sidebar .sidebar_content {
    padding: 12px;
}

/* Sidebar Logo Div */
.sidebar .sidebar_content .logo {
    display: flex;
    justify-content: center;
    height: 50px;
    margin-bottom: 24px;
}

/* Sidebar Logo Image*/
.sidebar .sidebar_content .logo img {
    width: 100px;
    height: 50px;
    object-fit: cover;
}

/* Sidebar Items */
.sidebar .sidebar_content ul {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
}

/* Sidebar Items - Line */
.sidebar .sidebar_content li {
    padding: 14px;
    border-radius: 8px;
    cursor: pointer;
}

/* Sidebar Items - Actual Page */
.sidebar .sidebar_content li.active {
    background-color: #2D2D2D;
}

/* Sidebar Items - Options Hover */
.sidebar .sidebar_content li:hover:not(.active) {
    background-color: #D8B795;
}

/* Sidebar Items - Line Text and Icon */
.sidebar .sidebar_content li a {
    text-decoration: none;
    display: flex;
    gap: 14px;
    color: #0a0a0a;
}

/* Sidebar Items - Actual Page Text and Icon */
.sidebar .sidebar_content li.active a {
    color: #e3e9f7;
}

/* Sidebar Items - Actual Page Icon */
.sidebar .sidebar_content li a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

/* Logout Button Div */
.sidebar .sidebar_logout {
    border-top: 1px solid #000;
    padding: 12px;
}

/* Logout Button Button */
.sidebar .sidebar_logout button {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

/* Logout Button Button - Hover */
.sidebar .sidebar_logout button:hover {
    background-color: #D8B795;
}

#sidebar-right {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    background-color: white;
    border-left: 2px solid;
}

#customers {
    display: flex;
    flex-direction: row;
    padding: 10%;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

#customers img {
    width: 35px;
}

#customers button {
    border: 0px;
    margin-top: 10px;
    background-color: white;
    cursor: pointer;
}

#list-customers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    height: 80%;
}

.customer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 280px;
    height: 60px;
    background-color: #D8B795;
}

.divPhotoInformations {
    display: flex;
    gap: 5px;
}

.informationsCustomerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 160px;
}

.informationsCustomerDiv p {
    font-size: 11px;
}

#customer p:hover {
    opacity: 0.8;
}

.photoCustomerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photoCustomer {
    height: 50px;
    width: 50px;
}

.chatImageCustomerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
}

.chatImageCustomer {
    height: 30px;
    width: 30px;
}

#divImg_user {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

#divImg_user img {
    width: 50px;
}

#txt_user {
    font-size: 18px;
    background-color: darkgray;
    padding: 10px;
    border-radius: 10px;
}

#divBanner_service {
    width: 100%;
    height: 175px;
}

#divBanner_service img {
    width: 100%;
}

#divServices {
    height: 640px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: solid;
}

#divButtonsService {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.buttonService {
    background-color: white;
    color: black;
    border-radius: 8px;
    width: 150px;
    height: 40px;
    font-size: medium;
}

.buttonService:hover {
    cursor: pointer;
    opacity: 0.8;
}

#divAllContentService {
    display: flex;
    padding: 20px;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    border: solid;
}

#divAllServices {
    height: 100%;
    width: 100%;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    border: solid;
    justify-items: center;
}

.individualServiceDiv {
    height: 400px;
    width: 550px;
    display: flex;
    border: solid;
}

.leftSideIndividualServiceDiv {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rightSideIndividualServiceDiv {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.titleIndividualServiceInLeftSideDiv {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.imageIndividualServiceInLeftSideDiv {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageIndividualServiceInLeftSide {
    height: 300px;
    width: 250px;
    border-radius: 20px;
}

.buttonHireIndividualServiceInLeftSideDiv {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonHireIndividualServiceInLeftSide {
    height: 30px;
    width: 100px;
    border-radius: 8px;
    border: solid 1px #A1C6EA;
    color: #A1C6EA;
    background-color: white;
}

.textIndividualServiceInRightSideDiv {
    height: 39%;
    width: 60%;
    border-bottom: solid 2px black;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 10;
    width: 400px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

#modalHeaderDiv {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#modalBodyDiv {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titleImageDiv {
    height: 100%;
    width: 55%;
}

#titleDiv {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titleInput {
    height: 40px;
    width: 250px;
    background-color: #dddd;
    color: #666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    resize: none;
    transition: all 0.2s;
}

#titleInput::placeholder {
    text-align: center;
}

#titleInput:hover {
    cursor: pointer;
    background-color: #eee;
}

#titleInput:focus {
    cursor: text;
    color: #333;
    background-color: white;
    border-color: #333;
}

#imageDiv {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loadImageButtonDiv {
    font-size: large;
    padding: 4px;
    border-radius: 10px;
    border: solid 1px black;
    color: black;
    background-color: white;
}

#loadImageButtonDiv:hover {
    cursor: pointer;
    opacity: 0.6;
}

#descriptionDiv {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#descriptionArea {
    height: 120px;
    width: 250px;
    background-color: #dddd;
    color: #666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    resize: none;
    transition: all 0.2s;
}

#descriptionArea:hover {
    cursor: pointer;
    background-color: #eee;
}

#descriptionArea:focus {
    cursor: text;
    color: #333;
    background-color: white;
    border-color: #333;
}

#buttonConfirmNewServiceDiv {
    height: 15%;
    width: 100%;
}

#buttonConfirmNewServiceDiv {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttonConfirmNewService {
    font-size: large;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid transparent;
    color: #333;
    background-color: #dddd;
    transition: all 0.2s;
}

#buttonConfirmNewService:hover {
    cursor: pointer;
    background-color: white;
    border-color: #333;
    color: black;
}

#modal.hide, #fade.hide {
    opacity: 0;
    pointer-events: none;
}

#fade, #modal {
    transition: 0.3s;
    opacity: 1;
    pointer-events: all;
}

#modal.hide {
    top: 0;
}
