#divImg_user {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

#divImg_user img {
    width: 50px;
}

#txt_user {
    font-size: 18px;
    background-color: darkgray;
    padding: 10px;
    border-radius: 10px;
}

#divBanner_service {
    width: 100%;
    height: 175px;
}

#divBanner_service img {
    width: 100%;
}

#divServices {
    height: 640px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#divButtonsService {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.buttonService {
    background-color: white;
    color: black;
    border-radius: 8px;
    width: 150px;
    height: 40px;
    font-size: medium;
}

.buttonService:hover {
    cursor: pointer;
    opacity: 0.8;
}

#divAllContentService {
    display: flex;
    padding: 20px;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

#divAllServices {
    height: 100%;
    width: 100%;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
}

.individualServiceDiv {
    height: 400px;
    width: 550px;
    display: flex;
}

.leftSideIndividualServiceDiv {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rightSideIndividualServiceDiv {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.titleIndividualServiceInLeftSideDiv {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.imageIndividualServiceInLeftSideDiv {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageIndividualServiceInLeftSide {
    height: 300px;
    width: 250px;
    border-radius: 20px;
}

.buttonHireIndividualServiceInLeftSideDiv {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonHireIndividualServiceInLeftSide {
    height: 30px;
    width: 100px;
    border-radius: 8px;
    border: solid 1px #A1C6EA;
    color: #A1C6EA;
    background-color: white;
}

#imageEditIndividualServiceInRightSideDiv {
    height: 40px;
    width: 162px;
    display: flex;
    justify-content: end;
    gap: 10px;
}

#imageEditIndividualServiceInRightSide {
    height: 25px;
    width: 25px;
}

#imageEditIndividualServiceInRightSide:hover {
    cursor: pointer;
}

#imageRemoveIndividualServiceInRightSide {
    height: 25px;
    width: 25px;
}

#imageRemoveIndividualServiceInRightSide:hover {
    cursor: pointer;
}


.textIndividualServiceInRightSideDiv {
    height: 53%;
    width: 60%;
    border-bottom: solid 2px black;
    word-wrap: break-word;
}

.knowMoreIndividualServiceInRightSide:hover {
    cursor: pointer;
    opacity: 0.8;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 10;
    width: 700px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

#modalHeaderDiv {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#modalBodyDiv {
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titleImageDiv {
    height: 100%;
    width: 55%;
}

#titleDiv {
    height: 250px;
    width: 600px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-items: center;
}

.inputInformation {
    height: 40px;
    width: 250px;
    background-color: #dddd;
    color: #666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    resize: none;
    transition: all 0.2s;
}


.inputInformation::placeholder {
    text-align: center;
}

.inputInformation:hover {
    cursor: pointer;
    background-color: #eee;
}

.inputInformation:focus {
    cursor: text;
    color: #333;
    background-color: white;
    border-color: #333;
}

#imageDiv {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loadImageButtonDiv {
    font-size: large;
    padding: 4px;
    border-radius: 10px;
    border: solid 1px black;
    color: black;
    background-color: white;
}

#loadImageButtonDiv:hover {
    cursor: pointer;
    opacity: 0.6;
}

#descriptionDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#files{
    width: 80%;
}

#descriptionArea {
    height: 150px;
    width: 350px;
    background-color: #dddd;
    color: #666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    resize: none;
    transition: all 0.2s;
}

#descriptionArea:hover {
    cursor: pointer;
    background-color: #eee;
}

#descriptionArea:focus {
    cursor: text;
    color: #333;
    background-color: white;
    border-color: #333;
}

#buttonConfirmNewServiceDiv {
    height: 15%;
    width: 100%;
}

#buttonConfirmNewServiceDiv {
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttonConfirmNewService {
    font-size: large;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid transparent;
    color: #333;
    background-color: #dddd;
    transition: all 0.2s;
}

#buttonConfirmNewService:hover {
    cursor: pointer;
    background-color: white;
    border-color: #333;
    color: black;
}

#modal.hide, #fade.hide {
    opacity: 0;
    pointer-events: none;
}

#fade, #modal {
    transition: 0.3s;
    opacity: 1;
    pointer-events: all;
}

#modal.hide {
    top: 0;
}

#editFade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#editModal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 10;
    width: 700px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

#editModalHeaderDiv {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#editModalBodyDiv {
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#editTitleImageDiv {
    height: 100%;
    width: 55%;
}

#editTitleDiv {
    height: 250px;
    width: 600px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-items: center;
}

.inputInformation {
    height: 40px;
    width: 250px;
    background-color: #dddd;
    color: #666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    resize: none;
    transition: all 0.2s;
}

.inputInformation::placeholder {
    text-align: center;
}

.inputInformation:hover {
    cursor: pointer;
    background-color: #eee;
}

.inputInformation:focus {
    cursor: text;
    color: #333;
    background-color: white;
    border-color: #333;
}

#editImageDiv {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#editLoadImageButtonDiv {
    font-size: large;
    padding: 4px;
    border-radius: 10px;
    border: solid 1px black;
    color: black;
    background-color: white;
}

#editLoadImageButtonDiv:hover {
    cursor: pointer;
    opacity: 0.6;
}

#editDescriptionDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#editDescriptionArea {
    height: 150px;
    width: 350px;
    background-color: #dddd;
    color: #666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    resize: none;
    transition: all 0.2s;
}

#editDescriptionArea:hover {
    cursor: pointer;
    background-color: #eee;
}

#editDescriptionArea:focus {
    cursor: text;
    color: #333;
    background-color: white;
    border-color: #333;
}

#editButtonConfirmNewServiceDiv {
    height: 15%;
    width: 100%;
}

#editButtonConfirmNewServiceDiv {
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#editButtonConfirmNewService {
    font-size: large;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid transparent;
    color: #333;
    background-color: #dddd;
    transition: all 0.2s;
}

#editButtonConfirmNewService:hover {
    cursor: pointer;
    background-color: white;
    border-color: #333;
    color: black;
}

#editModal.hideTwo, #editFade.hideTwo {
    opacity: 0;
    pointer-events: none;
}

#editFade, #editModal {
    transition: 0.3s;
    opacity: 1;
    pointer-events: all;
}

#editModal.hideTwo {
    top: 0;
}

#showFade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#showModal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 10;
    width: 700px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

#showTitleDiv {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#showImageAndDescriptionDiv {
    display: flex;
    flex-direction: row;
    height: 360px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#showImage {
    height: 250px;
    width: 250px;
    border-radius: 8px;
}

#showDescriptionDiv {
    height: 230px;
    width: 250px;
    word-wrap: break-word;
}

#showInformationsDiv {
    height: 230px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #D8B795;
    color: white;
}

#showInformationsSectionOneDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#showInformationsSectionTwoDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.informationAboutService {
    text-align: center;
    width: 250px;
    margin-left: 60px;
    border-radius: 5px;
}

#showModal.hideThree, #showFade.hideThree {
    opacity: 0;
    pointer-events: none;
}

#showFade, #showModal {
    transition: 0.3s;
    opacity: 1;
    pointer-events: all;
}

#showModal.hideThree {
    top: 0;
}
