#fundo {
    background-color: #F5D0A9;
    width: 100%;
    height: 300px;
}

#containerGeral {
    height: 600px;
    width: 700px;
    position: absolute;
    bottom: 130px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #2D2D2D;
    gap: 30px;
}

#titleSignIn {
    width: 100%;
    height: 20%;
    display: flex;
    padding-left: 40px;
    align-items: center;
}

#signInForm {
    width: 100%;
    height: 60%;
    display: flex;
    padding-left: 40px;
    gap: 80px;
}

#sectionFormOne {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#sectionFormTwo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fieldToFill {
    display: flex;
    flex-direction: column;
    font-size: large;
    gap: 15px;
}

.fieldToFill input {
    width: 250px;
    background-color: #2D2D2D;
    border: none;
    border-bottom: 0.5px solid #ffff;
    color: white;
}

.fieldToFill input:focus {  
    color: white;
    border: none;
    border-bottom: 0.5px solid #ffff;
    outline: 0;
}

#divButtonSignIn {
    width: 100%;
    height: 20%;
    background-color: #2D2D2D;
    display: flex;
    justify-content: center;
}

#divButtonSignIn button{
    height: 35px;
    width: 95px;
    border-radius: 12px;
    font-size: large;
    border: none;
}

#divButtonSignIn button:hover {
    cursor: pointer;
    opacity: 0.8;
}

#imagem {
    width: 500px;
    height: 100%;
}

#divCenter {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

#spaceLoginToTheRest {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#spaceEmailAndPasswordToTheRest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#loginName {
    border-bottom: 0.5px solid #ffff;
    font-size: large;
    height: 50px;
    width: 155px;
}

#forgetPassword a{
    text-decoration: none;
    color: white;
}

#forgetPassword a:hover {
    cursor: pointer;
    opacity: 0.8;
}

#email:focus {
    color: white;
    border: none;
    border-bottom: 0.5px solid #ffff;
    outline: 0;
}

#password:focus {
    color: white;
    border: none;
    border-bottom: 0.5px solid #ffff;
    outline: 0;
}