.contract-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contract-header button{
    background-color: #D9D9D9;
    border: none;
    border-radius: 5px;
    width: 7.5rem;
}

.contract-header button:hover{
    background-color: #646464;
    cursor: pointer;
    color: #fff;
}

.contract-header ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.contract-header .contract-header-infos li{
    border-right: 3px solid #000;
    padding: 0 1rem 0 0;
}

.contract-header{
    width: 100%;
    padding: 1rem;
}

.contract-header ul #event-day{
    border: none;
}

.contract-header ul #client-name{
    font-weight: 600;
}

/* Edit Activated Buttons */

.contract-edit-active{
    height: 5%;
    display: none;
    place-items: center;
    margin-top: 0.2rem;
}

.contract-edit-active ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.contract-edit-active ul button{
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
}

.contract-edit-active ul button i{
    font-size: 1rem;
}

.contract-edit-active ul .confirm-edit{
    background-color: #1FBF57;
}

.contract-edit-active ul .confirm-edit:hover{
    background-color: #44937A;
    cursor: pointer;
}

.contract-edit-active ul .cancel-edit{
    background-color: #F20505;
}

.contract-edit-active ul .cancel-edit:hover{
    background-color: #934444;
    cursor: pointer;
}

/* Contract Main Content */

.contract-content{
    height: 80%;
    border: solid #000 1px;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contract-content{
    text-align: left;
}

.contract-content textarea{
    border: none;
    resize: none;
    height: 80%;
    padding: 1rem;
}

.contract-content textarea:focus{
    outline: none !important;
}

.contract-content .contract-sides{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    height: 5%;
}

.contract-content .contract-sides div{
    width: 30%;
    border-top: solid #000 3px;
    text-align: center;
    padding-top: 1rem;
}

