@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    min-height: 100vh;
    background-color: white;
    display: flex;
    overflow: hidden;
}

main {
    display: flex;
    width: 100%;
    flex-direction: column;
}