#sidebar-right {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    background-color: white;
    border-left: 2px solid;
}

#customers {
    display: flex;
    flex-direction: row;
    padding: 10%;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

#customers img {
    width: 35px;
}

#customers button {
    border: 0px;
    margin-top: 10px;
    background-color: white;
    cursor: pointer;
}

#list-customers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;
}

#customer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 280px;
    height: 60px;
    background-color: #D8B795;
}

.divPhotoInformations {
    display: flex;
    gap: 5px;
}

.informationsCustomerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 160px;
}

.informationsCustomerDiv p {
    font-size: 11px;
}

#customer p:hover {
    opacity: 0.8;
}

.photoCustomerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photoCustomer {
    height: 50px;
    width: 50px;
}

.chatImageCustomerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
}

.chatImageCustomer {
    height: 30px;
    width: 30px;
}
