#sidebar-right {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    background-color: white;
    border-left: 2px solid;
}

#customers {
    display: flex;
    flex-direction: row;
    padding: 10%;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

#customers img {
    width: 35px;
}

#customers button {
    border: 0px;
    margin-top: 10px;
    background-color: white;
    cursor: pointer;
}

#list-customers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    height: 80%;
}

.customer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 280px;
    height: 60px;
    background-color: #D8B795;
}

.divPhotoInformations {
    display: flex;
    gap: 5px;
}

.informationsCustomerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 160px;
}

.informationsCustomerDiv p {
    font-size: 11px;
}

#customer p:hover {
    opacity: 0.8;
}

.photoCustomerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photoCustomer {
    height: 50px;
    width: 50px;
}

.chatImageCustomerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
}

.chatImageCustomer {
    height: 30px;
    width: 30px;
}
/* Sidebar divisão na tela */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95vh;
    width: 180px;
    margin: 2vh;
    background-color: #F5D0A9;
    border-radius: 20px;
}

/* Sidebar Content Div */
.sidebar .sidebar_content {
    padding: 12px;
}

/* Sidebar Logo Div */
.sidebar .sidebar_content .logo {
    display: flex;
    justify-content: center;
    height: 50px;
    margin-bottom: 24px;
}

/* Sidebar Logo Image*/
.sidebar .sidebar_content .logo img {
    width: 100px;
    height: 50px;
    object-fit: cover;
}

/* Sidebar Items */
.sidebar .sidebar_content ul {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
}

/* Sidebar Items - Line */
.sidebar .sidebar_content li {
    padding: 14px;
    border-radius: 8px;
    cursor: pointer;
}

/* Sidebar Items - Actual Page */
.sidebar .sidebar_content li.active {
    background-color: #2D2D2D;
}

/* Sidebar Items - Options Hover */
.sidebar .sidebar_content li:hover:not(.active) {
    background-color: #D8B795;
}

/* Sidebar Items - Line Text and Icon */
.sidebar .sidebar_content li a {
    text-decoration: none;
    display: flex;
    gap: 14px;
    color: #0a0a0a;
}

/* Sidebar Items - Actual Page Text and Icon */
.sidebar .sidebar_content li.active a {
    color: #e3e9f7;
}

/* Sidebar Items - Actual Page Icon */
.sidebar .sidebar_content li a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

/* Logout Button Div */
.sidebar .sidebar_logout {
    border-top: 1px solid #000;
    padding: 12px;
}

/* Logout Button Button */
.sidebar .sidebar_logout button {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

/* Logout Button Button - Hover */
.sidebar .sidebar_logout button:hover {
    background-color: #D8B795;
}
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    min-height: 100vh;
    background-color: white;
    display: flex;
    overflow: hidden;
}

main {
    display: flex;
    width: 100%;
    flex-direction: column;
}
#divSuperior {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#divClientsImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#divClientsImg img {
    width: 35px;
}

#divSuperior-clients {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

#btnAddClients {
    border-radius: 7px;
    padding: 10px;
    cursor: pointer;
    background-color: #D8B795;
    display: flex;
}

#divListaClients {
    display: flex;
    width: 100%;
    height:75%;
    flex-direction: column;
    overflow: scroll;
    align-items: center;
    gap: 20px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.modal-content {
    background-color: #D8B795;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-content input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-content button {
    margin-right: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btnSalvar {
    background-color: #4CAF50;
    color: white;
}

#btnCancelar {
    background-color: #f44336;
    color: white;
}

#modal-cliente {
    display: none;
}

.clienteDiv {
    width: 90%;
    display: flex;
    padding: 20px;
    gap: 20px;
    justify-content: space-between;
    border: 3px solid  #D8B795;
}

.btnRemoverCliente {
    background-color: #D8B795;
    border-radius: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
}
